{% extends 'base.html' %}
{% load static %}
{% block title %}CRUDfuncionario{% endblock %}
    
{% block content%}
<link rel="stylesheet" href="{% static 'css/crudfuncionario.css' %}"> 

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Endereço</th>
            <th scope="col">CEP</th>
            <th scope="col">CPF</th>
            <th scope="col">email</th>
            <th scope="col">telefone</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.idFuncionario }}</td>
            <td>{{ funcionario.username }}</td>
            <td>{{ funcionario.enderecoFuncionario }}</td>
            <td>{{ funcionario.CEP }}</td>
            <td>{{ funcionario.CPF }}</td>
            <td>{{ funcionario.email }}</td>
            <td>{{ funcionario.telefone }}</td>
            <td><a href="{% url 'editar_view' funcionario.idFuncionario %}" class="btn btn-primary">EDITAR</a></td>
            <td><a href="{% url 'delete_view' funcionario.idFuncionario %}" class="btn btn-danger">DELETAR</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <form action = "{% url 'salvarFuncionario_view' %}" method = "POST">{% csrf_token %}
        <label> 
            Nome
            <input type="text",maxlength="30", name="username"><br><br>
            Endereço
            <input type="text", maxlength="30" name="enderecoFuncionario"><br><br>
            CPF
            <input type="text", maxlength="11" name="CPF"><br><br>
            CEP
            <input type="text", maxlength="8" name="CEP"><br><br>
            Telefone
            <input type="text", maxlength="20" name="telefone"><br><br>
            Senha
            <input type="text", maxlength="30" name="password"><br><br>
            Função
            <input type="text", maxlength="30" name="funcao"><br><br>
            Email
            <input type="text", maxlength="30" name="email"><br><br>
        </label>
        <button type="submit">CREATE</button>
    </form>
{% endblock %}