{% extends 'navbar.html' %}
{% load static %}
{% block title %}CRUD Funcionário{% endblock %}
    
{% block content %}
<link rel="stylesheet" href="{% static 'css/crudfuncionario.css' %}">
<div class="retangulo">
    <ul>
        <li>
            <!-- Botão para abrir a tela de cadastro -->
            <a href="{% url 'cadastrarFuncionario_view' %}" class="btn btn-transparent">CADASTRAR FUNCIONARIO</a>
        </li>
    </ul>
</div>

<!-- Tabela de funcionários -->
<table class="table table-striped">
    <thead class="thead">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Endereço</th>
            <th scope="col">CPF</th>
            <th scope="col">CEP</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>

        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.idFuncionario }}</td>
            <td>{{ funcionario.username }}</td>
            <td>{{ funcionario.enderecoFuncionario }}</td>
            <td>{{ funcionario.CPF }}</td>
            <td>{{ funcionario.CEP }}</td>
            <td>{{ funcionario.telefone }}</td>
            <td>{{ funcionario.email }}</td>
            <td>
                <a href="{% url 'editarFuncionario_view' funcionario.idFuncionario %}" class="btn btn-outline-primary">EDITAR</a>
            </td>
            <td>
                <a href="{% url 'deleteFuncionario_view' funcionario.idFuncionario %}" class="btn btn-outline-danger">DELETAR</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Incluindo o JavaScript do Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}
