{% extends 'base.html' %}
{% load static %}
{% block title %}CRUDfuncionario{% endblock %}
    
{% block content%}
<link rel="stylesheet" href="{% static 'css/crudfuncionario.css' %}">
<div class="retangulo">
    <ul>
        <li>
            <!-- Botão para abrir o modal -->
            <button type="button" class="btn btn-transparent" data-toggle="modal" data-target=".bd-cadastro-modal-lg">
                CADASTRAR USUÁRIO
            </button>
        </li>
    </ul>
</div>

<!-- Modal com o formulário de cadastro -->
<div class="modal fade bd-cadastro-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ModalCadastroUsuario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCadastroUsuario">Cadastro de usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action = "{% url 'salvarFuncionario_view' %}" method = "POST">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" maxlength="30" name="username">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Endereço</label>
                        <input type="text" class="form-control" maxlength="30" name="enderecoFuncionario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input type="text" class="form-control" maxlength="11" name="enderecoFuncionario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CEP</label>
                        <input type="text" class="form-control" maxlength="8" name="enderecoFuncionario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefone</label>
                        <input type="text" class="form-control" maxlength="20" name="enderecoFuncionario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="text" class="form-control" maxlength="30" name="enderecoFuncionario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Função</label>
                        <input type="text" class="form-control" maxlength="30" name="enderecoFuncionario">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E-mail</label>
                        <input type="text" class="form-control" maxlength="30" name="enderecoFuncionario">
                    </div>
                </form>
            </div>  
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="pesquisa">
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar..">
    <button type="submit" class="btn btn-dark">
        <i class="bi bi-search"></i> Pesquisar
    </button>
</div>
-->
        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">CPF</th>
                    <th scope="col">CEP</th>
                    <th scope="col">telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Gerenciar</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.idFuncionario }}</td>
                    <td>{{ funcionario.username }}</td>
                    <td>{{ funcionario.enderecoFuncionario }}</td>
                    <td>{{ funcionario.CPF }}</td>
                    <td>{{ funcionario.CEP }}</td>
                    <td>{{ funcionario.telefone }}</td>
                    <td>{{ funcionario.email }}</td>
                    <td>
                        <a href="{% url 'editar_view' funcionario.idFuncionario %}" class="btn btn-outline-primary">EDITAR</a>
                        <a href="{% url 'delete_view' funcionario.idFuncionario %}" class="btn btn-outline-danger">DELETAR</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

<!-- Incluindo o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Incluindo o JavaScript do Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}