<!DOCTYPE html> <!--Arquivo html para testar o retorno de uma request.-->
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </html>
    <body>

        <ul>
            {% for funcionario in funcionarios %}
            <li>{{ funcionario.idFuncionario}} - {{funcionario.nomeFuncionario}} 
                <a href="{% url 'editar' funcionario.idFuncionario %}">EDITAR</a>
                <a href="{% url 'delete' funcionario.idFuncionario %}">DELETAR</a></li>
            {% endfor %}
        </ul>

        <form action = "{% url 'salvarFuncionario' %}" method = "POST">
            {% csrf_token %}
            <label> Nome
                <input type="text",maxlength="30", name="nomeFuncionario"><br>
                Nivel de Acesso
                <input type="number", min="1", max="2" name="nivelDeAcesso"><br>
                Endereço
                <input type="text", maxlength="30" name="enderecoFuncionario"><br>
                CPF
                <input type="text", maxlength="11" name="CPF"><br>
                CEP
                <input type="text", maxlength="8" name="CEP"><br>
                Telefone
                <input type="text", maxlength="20" name="telefone"><br>
                Senha
                <input type="text", maxlength="30" name="password"><br>
                Função
                <input type="text", maxlength="30" name="funcao"><br>
            </label>
            <button type="submit">CREATE</button>
        </form>
    </body>
</html>