@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');
*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 15px;
}
#menu-horizontal ul{
    list-style: none;
    padding: 0;
    background-color: #454545;
    margin: 0px;
}
/* Deixa na horizontal */
#menu-horizontal ul li{
    display: inline;
}
#menu-horizontal ul li a{
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
#menu-horizontal ul li a:hover{
    background: linear-gradient(90deg, #C833B0 -75.99%, #FF5722 106.42%, #FF6347 106.44%);
   
}
#menu-horizontal ul li:last-child a{
    float: right;
}
.retangulo {
    height: 80px;
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(90deg, #C833B0 -75.99%, #FF5722 106.42%, #FF6347 106.44%);
    z-index: 1;
}
.h2{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
}
.retangulos {
    height: 100px;
    margin-right: 40px;
    margin-top: -30px;
    padding: 10px;
    line-height: 80px;
    border-radius: 10px;
    background: #E8E8E8;
    z-index: 2;

    text-align: center;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.info-rec {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #C833B0 -75.99%, #FF5722 106.42%, #FF6347 106.44%);
    padding: 10px;
    text-align: center;
    border-radius: 15px;

    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}