@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
/* Estilo para o corpo da página */
body {
    background: #EBEBEB;
}

.title_Reset_Senha{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Estilo para o retângulo de login */
.retangulo_Reset_Senha {
    width: 350px;
    height: 530px;
    background-color: #F5F5F5;
    filter: drop-shadow(20px 20px 23px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Estilo para o formulário de login */
.Reset_Senha-form {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; /* Torna o formulário um flex container */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
}

/* Estilo para campos de formulário (ID e senha) */
.form-control {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    position: relative;
}

/* Estilo para o texto dentro dos campos de formulário (ID e senha) */
.form-control input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1.5px solid #000;
    background: rgba(222, 222, 222, 0.93);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif; 
}


/* Estilo para o botão de envio */
.btn-submit {
    width: 209px;
    height: 43px;
    flex-shrink: 0;
    padding: 12px 45px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(200,51,176), rgba(255,99,71));
    border: none;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-transform: uppercase;
    color: #FFFF;
    
}




