{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/fornecedores.css' %}">
</head>
<body>  
    <!-- "nav" representa uma seção de uma página que guia para outras páginas -->
    <nav id="menu-horizontal">
        <ul>
            <!-- Nos href's é onde serão colocados os links para as determinadas telas -->
            <li><a href="{% url 'telainicial' %}" class="pagina-atual">Dashboard</a></li>

            <li><a href="{% url 'telainicial' %}">Relatórios</a></li>

            <li><a href="{% url 'telainicial' %}">Rank de produtos</a></li>

            <li><a href="{% url 'telainicial' %}">Entrada e saída de estoque</a></li>

            <li><a href="{% url 'produtos' %}">Produtos</a></li>

            <li><a href="{% url 'home' %}">Gerenciar usuários</a></li>

            <li><a href="{% url 'fornecedor' %}">Fornecedores</a></li>

            <li><a href="{% url 'logout' %}">Perfil</a></li>

        </ul>
    </nav>

    <div style="height: 60px; background-color: grey;">
        <p>cadastrar fornecedor</p>
    </div>

    <form action="{% url 'salvarFornecedor_view' %}" method="POST">
        {% csrf_token %}
        {{ fornecedorForm.as_p }}
        <button>Create</button>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID do Fornecedor</th>
                    <th scope="col">Nome do Fornecedor</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                    <tr>
                        <td>{{fornecedor.idFornecedor}}</td>
                        <td>{{fornecedor.nomeFornecedor}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
