{% extends 'base.html' %}
{% load static %}
{% block title %}Fornecedor{% endblock %}
    
{% block content%}
    <link rel="stylesheet" href="{% static 'css/fornecedores.css' %}">

    <div class="retangulo">
        <ul>
            <li>
                <!-- Botão para abrir o modal -->
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target=".bd-cadastroFornecedor-modal-lg">
                    CADASTRAR FORNECEDOR
                </button>
            </li>
        </ul>
    </div>

    <!-- Modal com o formulário de cadastro -->
    <div class="modal fade bd-cadastroFornecedor-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ModalCadastroFornecedor" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCadastroFornecedor">Cadastro de fornecedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action = "{% url 'salvarFornecedor_view' %}" method = "POST">{% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Nome</label>
                            <input type="text" class="form-control" maxlength="30" name="nomeFornecedor">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Endereço</label>
                            <input type="text" class="form-control" maxlength="30" name="endereco">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Telefone</label>
                            <input type="text" class="form-control" maxlength="20" name="telefone">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">CEP</label>
                            <input type="text" class="form-control" maxlength="8" name="cep">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">CNPJ</label>
                            <input type="text" class="form-control" maxlength="14" name="cnpj">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID do Fornecedor</th>
                    <th scope="col">Nome do Fornecedor</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                    <tr>
                        <td>{{fornecedor.idFornecedor}}</td>
                        <td>{{fornecedor.nomeFornecedor}}</td>
                        <td>{{fornecedor.telefone}}</td>
                        <td>{{fornecedor.cnpj}}</td>
                        <td>{{fornecedor.cep}}</td>
                        <td>{{fornecedor.endereco}}</td>
                        <td>
                            <a href="{% url 'editarFornecedor_view' fornecedor.idFornecedor %}" class="btn btn-outline-primary">EDITAR</a>
                        </td>
                        <td>
                            <a href="{% url 'deleteFornecedor_view' fornecedor.idFornecedor %}" class="btn btn-outline-danger">DELETAR</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}