{% extends 'base.html' %}
{% load static %}
{% block title %}Fornecedor{% endblock %}
    
{% block content%}
    <!-- <link rel="stylesheet" href="{% static 'css/fornecedores.css' %}"> -->

<div>
    <ul>
        {% for fornecedor in fornecedores %}
            <li>
                {{fornecedor.idFornecedor}} - {{fornecedor.nomeFornecedor}}
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'salvarFornecedor_view' %}" method="POST">
        {% csrf_token %}
        {{ fornecedorForm.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock %}