{% extends 'base.html' %}
{% load static %}
{% block title %}Fornecedor{% endblock %}
    
{% block content%}
<link rel="stylesheet" href="{% static 'css/editar.css' %}">

<div class="retangulo_Editar">
    <div class="title_Editar">Editar Fornecedor</div>
        <form action="{% url 'updateFornecedor_view' fornecedor.idFornecedor %}" class="editar-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <!-- Campo de Identificação -->
                <div class="form-control_campos">
                    <label for="username">Username:</label>
                    <input type="text" id="nomeFornecedor" name="nomeFornecedor" value="{{fornecedor.nomeFornecedor}}">
                </div>

                <div class="form-control_campos">
                    <label for="enderecoFuncionario">Endereço:</label>
                    <input type="text" id="telefone" name="telefone" value="{{fornecedor.telefone}}">
                </div>

                <div class="form-control_campos">
                    <label for="CPF">CPF:</label>
                    <input type="text" id="cnpj" name="cnpj" value="{{fornecedor.cnpj}}">
                </div>

                <div class="form-control_campos">
                    <label for="cep">CEP:</label>
                    <input type="text" id="cep" name="cep" value="{{fornecedor.cep}}">
                </div>

                <div class="form-control_campos">
                    <label for="endereco">Telefone:</label>
                    <input type="text" id="endereco" name="endereco" value="{{fornecedor.endereco}}">
                </div>
            </div> 
            <button type="submit" class="btn-submit">Atualizar</button>
        </form>
    </div>
</div>
{% endblock %}