{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
    <link rel="stylesheet" href="{% static 'css/ResetarSenha.css' %}">
</head>
<body>
    <div class="retangulo_Reset_Senha">
        <div class="title_Reset_Senha">RECUPERAR SENHA</div>

        <!-- Formulário de login -->
        <form method="POST" class="Reset_Senha-form">
            {% csrf_token %}
            <!-- Campo de Identificação -->
            <div class="form-group">
                <label class="text_email" for="Email">Insira a nova Senha:</label>
                <div class="form-control" id="Reset_Senha-form">
                    <input type="password" id="senha" name="senha" placeholder="Nova senha">
                </div>

                <label class="text_email" for="Email">Confirme a Senha:</label>
                <div class="form-control" id="Reset_Senha-form">
                    <input type="password" id="senha" name="senha" placeholder="Nova senha">
                </div>
                <!-- Botão de enviar Email -->
                <button type="submit" class="btn-submit">ENVIAR</button>
            </div>
    </div>
</body>
</html>