{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
    <link rel="stylesheet" href="{% static 'css/ResetarSenha.css' %}">
</head>
<body>
    <div class="retangulo_Reset_Senha">
        <div class="title_Reset_Senha">RECUPERAR SENHA</div>

        <!-- Formulário de login -->
        <form method="POST" class="reset_senha-form">
            {% csrf_token %}
            
        <!-- Campo de Identificação -->
        <div class="form-group">
            <label class="text" for="Email">Insira seu Email:</label>
            <div class="form-control_email" id="email">
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
            <!-- Botão de enviar Email -->
            <button type="submit" class="btn-submit">ENVIAR</button>
        </div>
    </div>
</body>
</html>