{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
    <link rel="stylesheet" href="{% static 'css/ResetarSenha.css' %}">
</head>
<body>
    <div class="retangulo_Reset_Senha">
        <div class="title_Reset_Senha">RECUPERAR SENHA</div>

        <!-- Formulário de login -->
        <form method="GET" class="Reset_Senha-form">
            {% csrf_token %}
            <div class="text">
                <p>A redefinição de senha foi feita com sucesso!!</p>
            </div>
            <!-- Usar um link para redirecionar para a tela de login -->
            <a href="{% url 'login' %}" class="link-login">
                <button type="button" class="btn-submit">ENTRAR</button>
            </a>
    </div>
</body>
</html>