{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
    <link rel="stylesheet" href="{% static 'css/ResetarSenha.css' %}">
</head>
<body>
    <div class="retangulo_Reset_Senha">
        <div class="title_Reset_Senha">RECUPERAR SENHA</div>
        
        <div class="text">
            <p>A solicitação foi feita com sucesso!!</p>
            <p>Um email foi enviado para fazer a redefinição da sua senha.</p>
        </div>
</body>
</html>