@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');
.retangulo ul{
    height: 50px;
    background-color: grey;
}
.retangulo ul li{
    display: inline;
}
.retangulo ul li a{
    color: #2c2c2c;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
.retangulo ul li a:hover{
    color: rgb(255, 255, 255);
}
.btn-transparent {
    margin: 5px;
    background: transparent;
    border: none;
    transition: background .3s;
    color: white;
}
.btn-transparent:hover {
    color: rgb(0, 0, 0);
}
.pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
}
#myInput {
    width: 35%;
    height: 30px;
    background-color: #c8c8c8;
    color: #545454;
    margin: 10px;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.table thead th, .table tbody td {
    text-align: center;
}
dl, ol, ul {
    margin-top: 0; /* Definindo a margem superior como 0 */
    margin-bottom: auto; /* Definindo a margem inferior como 0 */
}

/* Estilo para os campos de formulário */
.modal-body .mb-3 {
    width: calc(50% - 20px); /* Divida o modal em duas colunas */
    margin: 10px; /* Adicione uma margem para separar os campos */
    display: inline-block; /* Defina os campos como blocos de nível inline */
}

/* Estilo para alinhar os campos ao centro */
.modal-body {
    text-align: center;
    margin: 0;
}
/* Estilo para centralizar o botão de rodapé */
.modal-footer {
    justify-content: center; /* Centralize os botões de rodapé */
}

/* Estilo para os campos de formulário */
.form-control {
    width: 100%; /* Defina a largura para ocupar 100% do espaço disponível */
    padding: 10px; /* Adicione algum preenchimento interno para melhorar a aparência */
    margin-bottom: 10px; /* Adicione algum espaço entre os campos */
    font-size: 15px; /* Ajuste o tamanho da fonte */
}