@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');
*{
    margin:auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.retangulo ul{
    height: 50px;
    background-color: grey;
}
.retangulo ul li{
    display: inline;
}
.retangulo ul li a{
    color: #2c2c2c;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
.retangulo ul li a:hover{
    color: rgb(255, 255, 255);
}
.btn-transparent {
    margin: 5px;
    background: transparent;
    border: none;
    transition: background .3s;
    color: white;
}
.btn-transparent:hover {
    color: rgb(0, 0, 0);
}
.pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
}
#myInput {
    width: 35%;
    height: 30px;
    background-color: #c8c8c8;
    color: #545454;
    margin: 10px;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.table thead th, .table tbody td {
    text-align: center;
}
dl, ol, ul {
    margin-top: 0; /* Definindo a margem superior como 0 */
    margin-bottom: auto; /* Definindo a margem inferior como 0 */
}