{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
    <title>Produtos</title>
</head>
<body>
    <!-- "nav" representa uma seção de uma página que guia para outras páginas -->
    <nav id="menu-horizontal">
        <ul>
            <!-- Nos href's é onde serão colocados os links para as determinadas telas -->
            <li><a href="{% url 'telainicial' %}">Dashboard</a></li>

            <li><a href="{% url 'produtos' %}">Produtos</a></li>

            <li><a href="{% url 'home' %}">Gerenciar usuários</a></li>

            <li><a href="{% url 'fornecedor' %}">Fornecedor</a></li>
            
            <li><a href="{% url 'logout' %}">Perfil</a></li>

        </ul>
    </nav>

    <div class="retangulo">
        <ul>
            <li>
                <!-- Botão para abrir o modal -->
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target=".bd-cadastro-modal-lg">
                    CADASTRAR PRODUTO
                </button>
            </li>
        </ul>
    </div>

    <!-- 
    <div class="pesquisa">
        <input class="form-control" id="myInput" type="text" placeholder="Pesquisar..">
        <button type="submit" class="btn btn-dark">
            <i class="bi bi-search"></i> Pesquisar
        </button>
    </div>
    -->

    <form method="POST">
        {% csrf_token %}
        {{ produtoForm.as_p }}
    </form>

    <table class="table table-striped">
        <thead class="thead">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Estoque</th>
                <th scope="col">Categoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Marca</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ Produtos.idProduto }}</td>
                <td>{{ Produtos.nomeProduto}}</td>
                <td>{{ Produtos.idFornecedor }}</td>
                <td>{{ Produtos.valorUnit }}</td>
                <td>{{ Produtos.qntEstoque }}</td>
                <td>{{ Produtos.categoria }}</td>
                <td>{{ Produtos.subCategoria }}</td>
                <td>{{ Produtos.marcaProduto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>