{% extends 'base.html' %}
{% load static %}
{% block title %}Produtos{% endblock %}
    
{% block content%}
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
    <div class="retangulo">
        <ul>
            <li>
                <!-- Botão para abrir o modal -->
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target=".bd-cadastro-modal-lg">
                    CADASTRAR PRODUTO
                </button>
            </li>
        </ul>
    </div>

    <!-- 
    <div class="pesquisa">
        <input class="form-control" id="myInput" type="text" placeholder="Pesquisar..">
        <button type="submit" class="btn btn-dark">
            <i class="bi bi-search"></i> Pesquisar
        </button>
    </div>
    -->

    <form method="POST">
        {% csrf_token %}
        {{ produtoForm.as_p }}
    </form>

    <table class="table table-striped">
        <thead class="thead">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Estoque</th>
                <th scope="col">Categoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Marca</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ Produtos.idProduto }}</td>
                <td>{{ Produtos.nomeProduto}}</td>
                <td>{{ Produtos.idFornecedor }}</td>
                <td>{{ Produtos.valorUnit }}</td>
                <td>{{ Produtos.qntEstoque }}</td>
                <td>{{ Produtos.categoria }}</td>
                <td>{{ Produtos.subCategoria }}</td>
                <td>{{ Produtos.marcaProduto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}