{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Importação do Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Importação do jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Importação do Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    <!-- "nav" representa uma seção de uma página que guia para outras páginas -->
    <nav id="menu-horizontal">
        <ul>
            <li><a href="{% url 'telainicial' %}">Dashboard</a></li>
            <li><a href="{% url 'produtos' %}">Produtos</a></li>
            <li><a href="{% url 'funcionarios' %}">Gerenciar usuários</a></li>
            <li><a href="{% url 'fornecedor' %}">Fornecedor</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfil
                </a>
                <ul>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <!-- Informações do Usuário -->
                        <p class="dropdown-item-text">Username: {{ userData.username }}</p>
                        <p class="dropdown-item-text">Endereço: {{ userData.enderecoFuncionario }}</p>
                        <p class="dropdown-item-text">CPF: {{ userData.cpf }}</p>
                        <p class="dropdown-item-text">Telefone: {{ userData.telefone }}</p>
                        <p class="dropdown-item-text">Função: {{ userData.funcao }}</p>
                        <p class="dropdown-item-text">Email: {{ userData.email }}</p>>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>>
                    </div>
                </ul>  
            </li>
        </ul>
    </nav>
    

    {% block content %} 
    {% endblock %}
          
</body>
</html>
