{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    <!-- "nav" representa uma seção de uma página que guia para outras páginas -->
    <nav id="menu-horizontal">
        <ul>
            <!-- Nos href's é onde serão colocados os links para as determinadas telas -->
            <li><a href="{% url 'telainicial' %}">Dashboard</a></li>

            <li><a href="{% url 'produtos' %}">Produtos</a></li>

            <li><a href="{% url 'home' %}">Gerenciar usuários</a></li>

            <li><a href="{% url 'fornecedor' %}">Fornecedor</a></li>
            
            <li><a href="{% url 'logout' %}">Perfil</a></li>

        </ul>
    </nav>

    {% block content %} 
    {% endblock %}
          
</body>
</html>
